.ok, .info, .error {
    padding: 0px 2px;
    font-size: 16px;
}

.ok {
    border: none;
    color: green;
}

.info {
    border: none;
    color: black;
}

.error {
    border: none;
    color: red;
}
